h1{
    text-align: center;
    color: white;
    background-color: black;
}
.div{
    border: 19px black;
    text-align: center;
}
.myDiv{
    text-align: center;
}
table, th, td {
    border:5px solid black;
  }
p{
    text-align: center;
    background-color: pink;
}
